/* 변수 설정 */
:root{

 /*Color */
    --color--navy:#000059;
    --color--light--navy:#263343;
    --color--black:#000000;
    --color--dark--white:#fdfcfc;
    --color--white:#ffffff;
    --color--grey:#808080;
    --color--light--grey:#cccccc;
    --color--red:#c4302b;


    /*font-size*/
    --font--size--micr:0.875rem;
    --font--size--small:1rem;
    --font--size--regular:1.125rem;
    --font--size--medium:1.75rem;
    --font--size--large:3rem;
    
    /*font-weight*/
    --font--regular:400
    --font--semi--bold:600;
    --font--bold:700;
    

    /* border-radius */
    --border--radius:40%; 



    /*Animation duration*/
    --animation--duration:300ms;

} 


/* universial tag */

*{
    box-sizing: border-box;
  
}
body{
    font-family: "Indie Flower";
    margin: 0;
    cursor: default;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}   
a{
    text-decoration: none;  
    color: var(--color--white);
}     
button{
    font-family: "Indie Flower";
    background: transparent;
    outline: none;
    border: transparent;    
    cursor: pointer;
}                                                                                

/* TypoScript*/
h1{
  
    font-size: var(--font--size--large) ;
    font-weight: var(--font--bold);
    color: var(--color--black);
    margin: 1rem 0;
}
h2{
    font-size: var(--font--size--medium);
    color: var(--color--black);
    margin: 0.5rem 0;
}

p{
   font-size: var(--font--size--medium);    
   color: var(--color--black);
   margin: 0.325rem 0;
}
.section{
    padding: 2rem;
    text-align: center;
    

   
}
/*Navbar*/
#navbar{
    background-color: var(--color--navy);
    color: var(--color--white);
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 1rem;
   
    
}
#navbar .navbar__logo{
    position: relative;
    top: -1rem;
}
.navbar__logo a{
    font-weight: var(--font--bold);
    font-size: 2rem;
}
.navbar__logo{
    margin-left: 2rem;
}
.logo{
    position: relative;
    top: 1.3rem;
    width: 4rem;
    height: 4rem;
}

.navbar__menu__item{
    display: flex;
    position: relative;
    right: 10rem;

}

.navbar__menu__item .menu__item__list{
    font-weight: var(--font--bold);           
    font-size: var(--font--size--medium);
    cursor: pointer;
    margin: 0.5rem 0.5rem;
    padding:0.5rem 0.5rem;
   
} 
.navbar__sns i{
    position: relative;
    top: -0.3rem;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 3rem;
}

/* Content */
#content{
   padding: 2rem;
   text-align: center;
   background: url("../img/backimg.png") center/cover no-repeat ; 
  
}
.content__container{
    
    margin: 2rem 0;
  
}
 .title{
    color: var(--color--dark--white);
    
}
.subtitle{
    color: var(--color--dark--white);
}
.content__play__button{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    font-size: 4.7rem;    
     margin-bottom: 0.5rem;
     background-color:var(--color--light--grey);
}
.content__bolume{
    display: block;
    margin: auto;
    padding: 0.5rem;

 
}
.content__play button{
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
    border-radius: 40%;
    background-color:var(--color--light--grey);
}
/*genre*/
#genre{
    padding: 2rem;

   
}


.genre__btn{
    font-size: 2rem;
    border: solid 3px var(--color--black);
    border-radius: 5%;
}
.genre__container{
    max-width: 70rem;
    margin: auto;
   
    
}

.genre__container .genre__title,
.genre__container .genre__subtitle,
.genre__nation{
    text-align: center;
    color: var(--color--black);
}

.music__genre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all var(--animation--duration) ease-in;
    margin: 1rem;
   
}

.music{
    margin: 1rem;
    justify-content:center;
    align-items: center;

   
    
   
}
.music img{
    border-radius:10%; 
}
.genre__description{
    display: flex;   /*바로 아래 자식에게만 적용 자식의 자식에게는 적용 안됨 까먹지 말자. */
    position: relative;
    right: 0.56rem;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-weight: var(--font--bold);
    font-size: var(--font--size--regular);
   
}
.genre__youtube--icon{
    color: var(--color--red);

}  
 
.genre__description .genre__youtube--icon,span{
    position: relative;
    left: 20px;
}

.music__genre .music,
.genre__description{

    transition: all var(--animation--duration);
}
.music__genre .music:hover,
.music__genre .music:hover .genre__description {
    transform: scale(1.1);
    transition: all var(--animation--duration) ease-in;
    opacity: 1;
   
}
/*contact*/

#contact{
    background-color: var(--color--navy);
}
.contact__email{
    color:var(--color--dark--white);
}
.contact__logo{
    display: flex;
   position: relative;
    align-items: center;
    justify-content: center;
}
.contact__logo a{
    margin: 0 0.5rem;
}
.contact__github{
    font-size:2rem
}

